<!DOCTYPE html>
<html>

<head>
  <title>Vue.js github commits example</title>
  <style>
  #demo {
    font-family: 'Helvetica', Arial, sans-serif;
  }

  a {
    text-decoration: none;
    color: #f66;
  }

  li {
    line-height: 1.5em;
    margin-bottom: 20px;
  }

  .author,
  .date {
    font-weight: bold;
  }

  </style>
  <script src="./dist/vue.js"></script>
</head>

<body>
  <div id="demo">
    <h1>perceptor: data center wide vulnerbility rollup</h1>
    <template v-for="n in ns">
      <input type="radio" :id="n" :value="n" name="ns" v-model="currentNs">
      <label :for="currentNs">{{ n }}</label>
<br>    </template>
    <H2> Pods </H2>
    <template v-for="p in podss">
      <input type="radio" :id="p" :value="p" name="p" v-model="currentPod">
      <label :for="currentPod">{{ p }}</label>
      <br>
    </template>
    <br><br>
    <h3>vulnerabilities</h3>

<table>
  <tr>
  <td>
    <template v-for="v in vulns">
      <label :for="v">{{ v }}</label>
      <br><br>
    </template>
  </td>
</tr>
</table>
   </div>
  <script src="model.js"></script>

  <script src="app.js"></script>
</body>
<script>

</script>

</html>
